<form class="pure-form pure-form-stacked">
    <fieldset>
        <label for="usuario">Usuario</label>
        <input type="text" id="usuario" placeholder="Usuario" />
        <span class="pure-form-message">*Campo Obrigatorio</span>
        <label for="senha">Senha</label>
        <input type="password" id="senha" placeholder="Senha" />
        <span class="pure-form-message">*Campo Obrigatorio</span>
        <button type="submit" class="pure-button pure-button-primary">Logar</button>
        <button type="reset" class="pure-button">Limpar</button>
        <button type="button" class="pure-button">Sair</button>


    </fieldset>
</form>